[mysqld]
########basic settings########
server-id = 12
# read_only = ON
port = 3306
character_set_server=utf8mb4
user = mysql
skip_name_resolve = 1
max_connections = 800
max_connect_errors = 1000
datadir = /data/mysql5_7/data
pid-file = /data/mysql5_7/data/mysqld.pid
transaction_isolation = READ-COMMITTED
join_buffer_size = 134217728
tmp_table_size = 67108864
tmpdir = /tmp
max_allowed_packet = 16777216
interactive_timeout = 3600
wait_timeout = 3600
read_buffer_size = 16777216
read_rnd_buffer_size = 33554432
sort_buffer_size = 33554432
skip-name-resolve
lower_case_table_names = 1
log_bin_trust_function_creators = 1

########log settings########
log_error = /data/mysql5_7/log/error.log
slow_query_log = 1
slow_query_log_file = /data/mysql5_7/log/slow.log
log_queries_not_using_indexes = 1
log_slow_admin_statements = 1
log_slow_slave_statements = 1
log_throttle_queries_not_using_indexes = 10
expire_logs_days = 15
long_query_time = 0.05
min_examined_row_limit = 100

########replication settings########
master_info_repository = TABLE
relay_log_info_repository = TABLE
log-bin = /data/mysql5_7/binlog/mysql-bin
sync_binlog = 1
log_slave_updates
binlog_format = row
relay_log =/data/mysql5_7/relaylog/relay-bin
relay_log_recovery = 1
slave_skip_errors = ddl_exist_errors

########innodb settings########
innodb_buffer_pool_size = 4G
innodb_buffer_pool_instances = 8
innodb_buffer_pool_load_at_startup = 1
innodb_buffer_pool_dump_at_shutdown = 1
innodb_lru_scan_depth = 2000
innodb_lock_wait_timeout = 5
innodb_io_capacity = 2000
innodb_io_capacity_max = 4000
innodb_flush_method = O_DIRECT
innodb_file_format = Barracuda
innodb_file_format_max = Barracuda
innodb_log_group_home_dir = /data/mysql5_7/redolog/
innodb_undo_directory = /data/mysql5_7/undolog/
innodb_undo_logs = 128
innodb_undo_tablespaces = 3
innodb_flush_neighbors = 1
innodb_log_file_size = 4G
innodb_log_buffer_size = 16777216
innodb_purge_threads = 4
innodb_large_prefix = 1
innodb_thread_concurrency = 64
innodb_print_all_deadlocks = 1
innodb_strict_mode = 1
innodb_sort_buffer_size = 67108864
sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'
innodb_data_file_path=ibdata1:4096M:autoextend
innodb_data_home_dir=/data/mysql5_7/data

slave-parallel-type=LOGICAL_CLOCK
slave-parallel-workers=16

#gtid模式
gtid_mode=ON
enforce_gtid_consistency=ON
master_info_repository=TABLE
binlog_gtid_simple_recovery=ON
relay_log_info_repository=TABLE

########semi sync replication settings########
#plugin_dir=/usr/local/mysql/lib/plugin
#plugin_load = "rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so"
#loose_rpl_semi_sync_master_enabled = 1
#loose_rpl_semi_sync_slave_enabled = 1
#loose_rpl_semi_sync_master_timeout = 5000

[mysqld-5.7]
innodb_buffer_pool_dump_pct = 50
innodb_page_cleaners = 4
innodb_undo_log_truncate = 1
innodb_max_undo_log_size = 2G
innodb_purge_rseg_truncate_frequency = 128
log_timestamps=system
transaction_write_set_extraction=off
show_compatibility_56=on

